@model Wypożyczalnia_samochodów_online.Models.Car 

<h2>Usuń samochód</h2>

<h4>Jesteś pewny, że chcesz usunąć samochód?</h4>

<div>
    <h5>Samochód: @Model.Brand @Model.Model</h5>
    <p>Cena za dzień: @Model.PricePerDay zł</p>
    <p>Opis: @Model.Description</p>
</div>

<form asp-action="Delete" method="post">
    <!-- Formularz wysyłający żądanie POST do akcji DeleteConfirmed -->
    @Html.AntiForgeryToken() <!-- Token ochrony przed atakami CSRF -->
    <input type="hidden" asp-for="Id" /> <!-- Ukryte pole zawierające identyfikator samochodu, aby można było go usunąć -->
    <button type="submit" class="btn btn-danger">Usuń</button> <!-- Przycisk wysyłający formularz do usunięcia samochodu -->
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a> <!-- Link, który przekierowuje z powrotem do listy samochodów bez usuwania -->
</form>
