@model CreateCarViewModel

<h2>Car details</h2>

@if (Model.ImageUrls.Any())
{
    foreach (var url in Model.ImageUrls)
    {
        <img src="@Url.Content(url)" alt="@Model.Brand @Model.Model" style="max-width: 300px;" />
    }
}
else
{
    <p>No images available for this car.</p>
}


<p><strong>Brand:</strong> @Model.Brand</p>
<p><strong>Model:</strong> @Model.Model</p>
<p><strong>Price per day:</strong> @Model.PricePerDay zł</p>

@if (!string.IsNullOrEmpty(Model.Description))
{
    <p><strong>Description:</strong> @Model.Description</p>
}

@if (!string.IsNullOrEmpty(Model.Engine))
{
    <p><strong>Engine:</strong> @Model.Engine</p>
}

@if (Model.Year > 0)
{
    <p><strong>Production year:</strong> @Model.Year</p>
}

<a asp-controller="Car" asp-action="Index" class="btn btn-secondary">Back to list</a>
